{% extends 'base.html' %}

{% block content %}

<div>
    <h1>
        Your Orders :
    </h1>
    <table border="1">
        <tr>
            <th>Order</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Order By</th>
        </tr>
        {% for d,order in orders.items() %}
            <tr>
                <th colspan="4"><small>{{ d }}</small></th>
            </tr>

            {% for o in order %}
            <tr>
                <td>{{ o.orderName }}</td>
                <td>{{ o.quantity }} </td>
                <td>{{ o.size }}</td>
                <td>{{ o.username }}</td>
            </tr>
            {% endfor %}

        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Back to Home</a>
</div>

{% endblock %}