{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        <div>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.n_friends.label }}<br>
                {{ form.n_friends }}
                {% for error in form.n_friends.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        <div>
            <p>{{ form.placeOrder() }}</p>
        </div>
         <div>
            <p>{{ form.checkOrder() }}</p>
        </div>

    </form>
{% endblock %}