
<body>
<p>
    we got an order for your order id : <b>{{ order[0].groupId }}</b>

</p>
<p>
    Order Status:
    <table>
    {% for o in order %}
    <tr>
        <th>
            From:
        </th>
        <td>{{ o.username }}</td>
    </tr>
    <tr>
        <th>
            Order:
        </th>
        <td>{{ o.orderName }}</td>
    </tr>
    <tr>
        <th>
            Quantity:
        </th>
        <td>{{ o.quantity }}</td>
    </tr>
    <tr>
        <th>
            Size:
        </th>
        <td>{% if o.size=="R" %}
                Regular
            {% else %}
                Large
            {% endif %}
        </td>
    </tr>
    <hr>
    {% endfor %}
    </table>
</p>
</body>
